Source: puppet-modules-puppetlabs
Section: admin
Priority: optional
Maintainer: credativ GmbH <info@credativ.de>
Uploaders: Patrick Schoenfeld <patrick.schoenfeld@credativ.de>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.5

Package: puppet-modules-puppetlabs
Architecture: all
Depends: ${misc:Depends}
Description: puppet module stdlib
